<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>L4GG | Timeline</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta property="og:title" content="L4GG | Russiagate Timeline" />
 		<meta property="og:type" content="website" />
 		<meta property="og:url" content="http://timeline.lawyerforgoodgovernment.org" />
 		<meta property="og:image" content="http://i2.cdn.cnn.com/cnnnext/dam/assets/170508141505-mobapp-flynn-yates-trump-russia-super-169.jpg" />
 		<meta property="og:description" 
   content="A comprehensive timeline of Trump and Russia interactions over the last 30 years. Researched by volunteer lawyers." />
   		<meta property="og:site_name" content="Lawyers for Good Government" />
   		<meta name="twitter:card" content="summary_large_image" />
 		<meta name="twitter:description" content="A comprehensive timeline of Trump and Russia interactions over the last 30 years. Researched by volunteer lawyers." />
 		<meta name="twitter:title" content="L4GG | Russiagate Timeline" />
 		<meta name="twitter:site" content="@russia_timeline" />
 		<meta name="twitter:image" content="http://i2.cdn.cnn.com/cnnnext/dam/assets/170508141505-mobapp-flynn-yates-trump-russia-super-169.jpg" />
 		<meta name="twitter:creator" content="@lawyers4goodgov" />
	</head>
	<body>
		<nav class="header_navigation">
			<button class="logo" type="button" onclick="window.location='https://actionnetwork.org/fundraising/support-lawyers-for-good-government-in-the-fight-to-protect-our-democracy';">
			</button>
			<button class="menu" onclick="navToggle(this)">
  				<div class="bar1"></div>
  				<div class="bar2"></div>
  				<div class="bar3"></div>
			</button>
		</nav>
		<div id="timeline"></div>
		<div class="sidebar" id="navpane">
			<ul class="header_navigation">
				<li class="header_navigation"><a href="https://actionnetwork.org/fundraising/support-lawyers-for-good-government-in-the-fight-to-protect-our-democracy" class="header_navigation">Donate</a></li>
				<li class="header_navigation"><a href="http://lawyersforgoodgovernment.org" class="header_navigation">About</a></li>
				<li class="header_navigation"></li>
			</ul>
		</div>
	</body>
</html>
