<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>L4GG | Timeline</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<nav>
			<button class="logo" type="button" onclick="window.location = 'https://actionnetwork.org/fundraising/support-lawyers-for-good-government-in-the-fight-to-protect-our-democracy';">
			</button>
			<button class="menu" onclick="myFunction(this)">
  				<div class="bar1"></div>
  				<div class="bar2"></div>
  				<div class="bar3"></div>
			</button>
			<script>
				function myFunction(x) {
    				x.classList.toggle("change");
    				document.getElementById("navpane").classList.toggle("display")}
    		</script>
		</nav>
		<div id="timeline"></div>
		<div class="nav" id="navpane">
			<ul>
				<li class = "important"><a href="https://actionnetwork.org/fundraising/support-lawyers-for-good-government-in-the-fight-to-protect-our-democracy">Donate</a></li>
				<li><a href="http://lawyersforgoodgovernment.org">About</a></li>
				<li></li>
			</ul>
		</div>
	</body>
	<script>document.getElementById('timeline').style.display = 'absolute'</script>
	<script>document.getElementById('timeline').style.top = '0px'</script>
</html>